.mainscreen {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: sans-serif;
  background-color: black;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/041/939/641/large/michael-pavlovich-topdown.jpg?1633114255");
  background-size: cover;
  
    }


.CreateVideogame {
  width: 60rem;
  margin-top: 5%;
  position: center;
  align-self: center;
  top: 50rem;
  border-radius: 1.5rem;
  box-shadow: 4px 3px 20px #3535358c;
  display: flex;
  flex-direction: column;
 
}



.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: black;
  height: 3cm;
  color: darkred;


}
.CreationForm {
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-size: cover;
  background-color: black;
  
}


.errors {
  color: red;
  font-size: 15px;
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-top: 1cm;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: black;
  color: darkred;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
  
}
.btn:active,
.btn:focus{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{  
  background-color: darkred;
  color: black;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

.label {
  font-weight: bold;
  font-size: 18px;
  color: white;
  justify-content: center;
  display: flex;
  margin-bottom: 1%;
  text-decoration: underline;
  text-decoration-color: darkred;
  
}
.formStyle {
  
  padding-left: 20px;
  padding-right: 20px;
  height: 48px;
  width: 22cm;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: whitesmoke;
  background-color: black;
  border:whitesmoke;
  border-style:ridge;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  font-weight: bold;
}

.formStyle::placeholder {
  color: black;
}

@media only screen and (max-width: 1000px) {
  .CreateVideogame {
    flex-direction: column;
    width: auto;
  }
}