
.pos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pos a {
    color: white;
    font-size: 1rem;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .pos a:hover:not(.active) {
    background-color: #ddd;
  }